@model IEnumerable<Materia>

<ul class="d-flex flex-wrap">
    @foreach (Materia mat in Model)
    {
        <li class="card flex-grow-1 m-1">
            <div class="card-body">
                <h5 class="card-title">@mat.Descripcion</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    @Html.DisplayNameFor(model => mat.HsSemanales): @mat.HsSemanales -
                    @Html.DisplayNameFor(model => mat.HsTotales): @mat.HsTotales
                </h6>
                <p class="card-text">@mat.Plan?.Especialidad <span class="text-info">@mat.Plan?.Anio</span></p>
                <a class="btn btn-primary text-white" asp-area="" asp-action="Edit" asp-route-id="@mat.Id">Editar</a>
                <a class="btn btn-danger text-white" asp-area="" asp-action="Delete" asp-route-id="@mat.Id">Delete</a>
            </div>
        </li>
    }
</ul>