@model Materia

<form asp-action="Edit">
    <div class="mb-3">
        <label for="descripcionFormControl" class="form-label">Descripcion</label>
        <input id="descripcionFormControl" class="form-control" placeholder="@Model.Descripcion"
            value="@Model.Descripcion" />
    </div>

    <div class="mb-3">
        <label for="hsSemanalesFormControl" class="form-label">Horas Semanales</label>
        <input type="number" id="hsSemanalesFormControl" class="form-control" placeholder="@Model.HsSemanales"
            value="@Model.HsSemanales">
    </div>

    <div class="mb-3">
        <label for="hsTotalesFormControl" class="form-label">Horas Totales</label>
        <input type="number" id="hsTotalesFormControl" class="form-control" placeholder="@Model.HsTotales"
            value="@Model.HsTotales">
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
